// widescreens
@include mediaXL {

}

// Desktops & laptops
@include mediaLg {
    
}

// tablets & small laptops
@include mediaMd {
    main {
        align-items: center;
        text-align: center;

        .lg-heading {
            line-height: 1;
            margin-bottom: 1rem;
        }
    }


    ul.menu-nav,div.menu-branding {
        float: none;
        width: 100%;
        min-height: 0;

        &.show {
            transform: translate3d(0,0,0);
        }
    }

    .menu-nav {
        height: 75vh;
        transform: translate3d(-100%, 0, 0);
        font-size: 24px;
    }


    .menu-branding {
        height: 25vh;
        transform: translate3d(100%, 0, 0);

        .portrait {
            background: url(/dist/img/profil2_250x250_180x180.jpg);            
            width: 180px;
            height: 180px;
        }
    }

    
}

// smartphones
@include mediaSm {
    main#home h1 {
        margin-top: 10vh;
    }
    
}